{% extends 'base.html.twig' %}

{% block body %}
<h3> Hey brah, you succeeded! </h3>

    <form action="{{ path('user_check_register')}}" method="POST" >

        <input type="text" name="username" value="{{ username }}" /> <br>
        <input type="text" name="password" value="{{ password }}" /> <br>
        <button type="submit" value="Submit">Submit</button>

    </form>

    {% for id in ids %}
        <p><a href="{{ path("get_one_user", {id: id, name: 'Pesho'}) }}">ID: {{ id }}</a> </p>
    {% endfor %}

{% endblock %}

{% block stylesheets %}

{% endblock %}

